@import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');
.App-header {
  background: rgb(121, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(121, 0, 0, 0.5438550420168067) 0%,
    rgba(212, 3, 21, 0.3981967787114846) 50%,
    rgba(171, 4, 4, 0.36458333333333337) 100%
  );
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.superM {
  display: flex;
  align-items: center;
  color: red;
}
.superM h3 {
  color: white;
  font-family: 'Potta One', cursive;
  -webkit-text-stroke: 0.5px black;
}

.card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px 20px;
  justify-items: center;
  align-items: center;
}
.card {
  position: relative;
  /* overflow: hidden; */
}
.title {
  z-index: 3;
  position: absolute;
  background-color: #282c3469;
  width: 200px;
  height: 50px;
  bottom: 5px;
  right: 0;
}
.card span p {
  text-align: center;
  padding: 0;
  margin-top: 10px;
}
.heart-icon {
  position: absolute;
  top: 5px;
  left: 5px;
}
